//
//    File:           _layout.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Base
//    2. States
//

.vs-layout {

  // ---------------------------------------------
  //    1. Base
  // ---------------------------------------------

  display: flex;

  // ---------------------------------------------
  //    2. States
  // ---------------------------------------------

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }

  &--center {
    align-items: 'center';
    justify-content: 'center';
  }
}
