$modularscale: (
  base: 1,
  ratio: 1.125
);

$breakpoints: (
  break-0: 0,
  break-1: 576,
  break-2: 768,
  break-3: 992,
  break-4: 1200,
) !default;

$rootsizes: (
  rootsize-0: 8,
  rootsize-1: 8,
  rootsize-2: 8,
  rootsize-3: 10,
  rootsize-4: 10,
) !default;
