.vs-layout {

  // ---------------------------------------------
  //    1. Base
  // ---------------------------------------------

  display: flex;

  // ---------------------------------------------
  //    2. States
  // ---------------------------------------------

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }

  &--center {
    align-items: center;
    justify-content: center;
  }
}
