//
//    File:           _hero.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Base
//    2. Responsive
//

.hero {

  // ---------------------------------------------
  //    1. Base
  // ---------------------------------------------

  background-color: $vs-pink-500;
  color: $vs-white;

  &-container {
    @include vs-container();
  }

  &-row {
    @include vs-row();
  }

  &-layout-button {
    @include vs-position(absolute, 32px, null, null, 32px);
  }

  &-content {
    @include vs-clearfix();
    text-align: center;
  }

  &-title {
    @include vs-h(1);
  }

  &-subtitle {
    @include vs-p(1);
  }

  // ---------------------------------------------
  //    2. Responsive
  // ---------------------------------------------

  @include vs-at-breakpoint($vs-screen-sm) {
    &-content {
      @include vs-col($vs-screen-sm, 6);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

  @include vs-at-breakpoint($vs-screen-md) {
    &-content {
      @include vs-col($vs-screen-md, 12);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

  @include vs-at-breakpoint($vs-screen-lg) {
    &-content {
      @include vs-col($vs-screen-lg, 16);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

  @include vs-at-breakpoint($vs-screen-xl) {
    &-content {
      @include vs-col($vs-screen-xl, 16);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

}
