@mixin vs-button() {
  font-family: unquote(map-get($type-system, font-family));
  font-style: normal;
  font-weight: map-get($type-system, regular);
  @include vs-font-size(1);
  line-height: vs-spacing(3);
  height: vs-spacing(3);
  @include vs-padding(left, 1);
  @include vs-padding(right, 1);
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
