//
//    File:           _colors.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Background Color
//    2. Text Color
//    3. Fill Color
//

// ---------------------------------------------
//    1. Background Color
// ---------------------------------------------

@mixin vs-background-color($color) {
  background-color: $color;
}

// ---------------------------------------------
//    2. Text Color
// ---------------------------------------------

@mixin vs-text-color($color) {
  color: $color;
}

// ---------------------------------------------
//    3. Fill Color
// ---------------------------------------------

@mixin vs-fill-color($color) {
  fill: $color;
}
