.verious {
  ul {
    @include vs-list();
  }

  ol {
    @include vs-ordered-list();
  }

  li {
    @include vs-list-item(1);
  }

  .vs-ul {
    @include vs-list();
  }

  .vs-ul--unstyled {
    @include vs-ul--unstyled();
  }

  .vs-li {
    @include vs-list-item(1);
  }
}

.vs-ul {
  @include vs-list();
}

.vs-ol {
  @include vs-ordered-list();
}

.vs-ul--unstyled {
  @include vs-ul--unstyled();
}

.vs-li {
  @include vs-list-item(1);
}
