//
//    File:           _code.scss
//    Description:
//
//
//    Table of Contents:
//

@mixin vs-pre() {
  background-color: $vs-grey-100;
  overflow: auto;
  white-space: inherit;
  margin: 0;
  @include vs-padding(right, 2);
  @include vs-padding(left, 2);
  @include vs-padding(top, 1);
  @include vs-padding(bottom, 1);
  @include vs-margin(bottom, 2);
}

@mixin vs-code($size) {
  white-space: pre;
  font-style: normal;
  font-weight: map-get($type-system-mono, regular);
  font-family: unquote(map-get($type-system-mono, font-family));
  line-height: 1rem;
  @include fontsize($size);
}
