//
//    File:           _paragraph.scss
//    Description:
//
//
//    Table of Contents:
//

@mixin vs-paragraph($size) {
  font-style: normal;
  font-weight: normal;
  @include vs-text($type-helvetica, $size);
  @include vs-margin(bottom, 1);

  a {
    display: inline;
    color: inherit;

    &:visited {
      color: inherit;
    }
  }
}
