//
//    File:           _variables.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Units
//    2. Grid
//    3. Sassline
//

// ---------------------------------------------
//    1. Units
// ---------------------------------------------

$vs-grid-unit: 8px;

// ---------------------------------------------
//    2. Grid
// ---------------------------------------------

$vs-screen-xs: xs 0 575px;
$vs-screen-sm: sm 576px 767px;
$vs-screen-md: md 768px 991px;
$vs-screen-lg: lg 992px 1199px;
$vs-screen-xl: xl 1200px;

$vs-width-xs: 100%;
$vs-width-sm: 576px;
$vs-width-md: 768px;
$vs-width-lg: 992px;
$vs-width-xl: 1200px;

$vs-gutter-xs: $vs-grid-unit * 4;
$vs-gutter-sm: $vs-grid-unit * 4;
$vs-gutter-md: $vs-grid-unit * 4;
$vs-gutter-lg: $vs-grid-unit * 4;
$vs-gutter-xl: $vs-grid-unit * 4;

$vs-page-margin-xs: $vs-grid-unit * 3;
$vs-page-margin-sm: $vs-grid-unit * 3;
$vs-page-margin-md: $vs-grid-unit * 3;
$vs-page-margin-lg: $vs-grid-unit * 3;
$vs-page-margin-xl: $vs-grid-unit * 3;

$vs-total-columns-xs: 12;
$vs-total-columns-sm: 12;
$vs-total-columns-md: 12;
$vs-total-columns-lg: 12;
$vs-total-columns-xl: 12;

// ---------------------------------------------
//    3. Sassline
// ---------------------------------------------

$modularscale: (
  base: 1,
  ratio: 1.125
);

$breakpoints: (
  break-0: 0,
  break-1: 576,
  break-2: 768,
  break-3: 992,
  break-4: 1200,
) !default;

$rootsizes: (
  rootsize-0: 14,
  rootsize-1: 15,
  rootsize-2: 16,
  rootsize-3: 17,
  rootsize-4: 17,
) !default;

$type-helvetica: (
  font-family: 'Helvetica, sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.68,
  baseline: 0.121
) !default;

$type-montserrat: (
  font-family: 'Montserrat, sans-serif',
  regular: 400,
  bold: 700,
  baseline: 0.141500
);

$type-source-code-pro: (
  font-family: '"Source Code Pro", sans-serif',
  regular: 400,
  bold: 700,
  baseline: 0.145
);

$type-ubuntu-mono: (
  font-family: '"Ubuntu Mono", sans-serif',
  regular: 400,
  bold: 700,
  baseline: 0.170
);

$type-roboto-mono: (
  font-family: '"Roboto Mono", sans-serif',
  regular: 400,
  bold: 700,
  baseline: 0.159
);
