//
//    File:           _variables.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Units
//    2. Grid
//    3. Sassline
//

// ---------------------------------------------
//    1. Units
// ---------------------------------------------

$vs-grid-unit: 8px;

// ---------------------------------------------
//    2. Grid
// ---------------------------------------------

$vs-screen-sm: sm 0 767px;
$vs-screen-md: md 768px 1023px;
$vs-screen-lg: lg 1024px 1279px;
$vs-screen-xl: xl 1280px;

$vs-width-sm: 100%;
$vs-width-md: 768px;
$vs-width-lg: 1024px;
$vs-width-xl: 1280px;

$vs-gutter-sm: $vs-grid-unit * 4;
$vs-gutter-md: $vs-grid-unit * 4;
$vs-gutter-lg: $vs-grid-unit * 4;
$vs-gutter-xl: $vs-grid-unit * 4;

$vs-page-margin-sm: $vs-grid-unit * 4;
$vs-page-margin-md: $vs-grid-unit * 3;
$vs-page-margin-lg: $vs-grid-unit * 3;
$vs-page-margin-xl: $vs-grid-unit * 3;

$vs-total-columns-sm: 6;
$vs-total-columns-md: 12;
$vs-total-columns-lg: 16;
$vs-total-columns-xl: 16;

// ---------------------------------------------
//    3. Sassline
// ---------------------------------------------

$modularscale: (
  base: 1,
  ratio: 1.125
);

$breakpoints: (
  break-0: 0,
  break-1: 768,
  break-2: 1024,
  break-3: 1280
) !default;

$rootsizes: (
  rootsize-0: 14,
  rootsize-1: 15,
  rootsize-2: 16,
  rootsize-3: 17,
) !default;

$type-helvetica: (
  font-family: 'Helvetica, sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.68,
  baseline: 0.121
) !default;

$type-montserrat: (
  font-family: 'Montserrat, sans-serif',
  regular: 400,
  bold: 700,
  baseline: 0.141500
);

$type-source-code-pro: (
  font-family: '"Source Code Pro", sans-serif',
  regular: 400,
  bold: 700,
  baseline: 0.145
);

$type-ubuntu-mono: (
  font-family: '"Ubuntu Mono", sans-serif',
  regular: 400,
  bold: 700,
  baseline: 0.170
);
