<div class="heading verious">
  <div class="heading-container">
    <div class="heading-row">
      <div class="heading-header">
        <h2>Heading</h2>
      </div>
    </div>
    <div class="heading-row">
      <div class="heading-left">
        <h3 class="vs-h5">Class</h3>
      </div>
      <div class="heading-right">
        <pre>
          <code>
&#x3C;div class=&#x22;verious&#x22;&#x3E;
  &#x3C;h1&#x3E;...&#x3C;/h1&#x3E;
  &#x3C;h2&#x3E;...&#x3C;/h2&#x3E;
  &#x3C;h3&#x3E;...&#x3C;/h3&#x3E;
  &#x3C;h4&#x3E;...&#x3C;/h4&#x3E;
  &#x3C;h5&#x3E;...&#x3C;/h5&#x3E;
  &#x3C;h6&#x3E;...&#x3C;/h6&#x3E;
&#x3C;/div&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="heading-row">
      <div class="heading-left">
        <h3 class="vs-h5">Prefix</h3>
      </div>
      <div class="heading-right">
        <pre>
          <code>
&#x3C;h1 class=&#x22;vs-h1&#x22;&#x3E;...&#x3C;/h1&#x3E;
&#x3C;h2 class=&#x22;vs-h2&#x22;&#x3E;...&#x3C;/h2&#x3E;
&#x3C;h3 class=&#x22;vs-h3&#x22;&#x3E;...&#x3C;/h3&#x3E;
&#x3C;h4 class=&#x22;vs-h4&#x22;&#x3E;...&#x3C;/h4&#x3E;
&#x3C;h5 class=&#x22;vs-h5&#x22;&#x3E;...&#x3C;/h5&#x3E;
&#x3C;h6 class=&#x22;vs-h6&#x22;&#x3E;...&#x3C;/h6&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="heading-row">
      <div class="heading-left">
        <h3 class="vs-h5">Mixin</h3>
      </div>
      <div class="heading-right">
        <pre>
          <code>
.element {
  @include vs-h(/* $size */);
}
          </code>
        </pre>
      </div>
    </div>

    <div class="list-row">
      <div class="list-content">
        <h3 class="vs-h5">Sample</h3>
        <h1>The quick brown fox jumps over the lazy dog</h1>
        <h2>The quick brown fox jumps over the lazy dog</h2>
        <h3>The quick brown fox jumps over the lazy dog</h3>
        <h4>The quick brown fox jumps over the lazy dog</h4>
        <h5>The quick brown fox jumps over the lazy dog</h5>
        <h6>The quick brown fox jumps over the lazy dog</h6>
      </div>
    </div>
  </div>
</div>
