<div class="link verious">
  <div class="link-container">
    <div class="link-row">
      <div class="link-header">
        <h2>Link</h2>
      </div>
    </div>
    <div class="link-row">
      <div class="link-left">
        <h3 class="vs-h5">Class</h3>
      </div>
      <div class="link-right">
        <pre>
          <code>
&#x3C;div class=&#x22;verious&#x22;&#x3E;
  &#x3C;p&#x3E;&#x3C;a&#x3E;...&#x3C;/a&#x3E;&#x3C;/p&#x3E;
  &#x3C;a&#x3E;...&#x3C;/a&#x3E;
&#x3C;/div&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="link-row">
      <div class="link-left">
        <h3 class="vs-h5">Prefix</h3>
      </div>
      <div class="link-right">
        <pre>
          <code>
&#x3C;p class=&#x22;vs-p&#x22;&#x3E;&#x3C;a&#x3E;...&#x3C;/a&#x3E;&#x3C;/p&#x3E;
&#x3C;a class=&#x22;vs-a&#x22;&#x3E;...&#x3C;/a&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="link-row">
      <div class="link-left">
        <h3 class="vs-h5">Mixin</h3>
      </div>
      <div class="link-right">
        <pre>
          <code>
.element {
  @include vs-a(/* $size */);
}
          </code>
        </pre>
      </div>
    </div>

    <div class="list-row">
      <div class="list-content">
        <h3 class="vs-h5">Sample</h3>
        <a href="http://charlespinnix.com">charlespinnix.com</a>
        <p><a href="http://charlespinnix.com">charlespinnix.com</a></p>
        <ul>
          <li><a href="http://charlespinnix.com">charlespinnix.com</a></li>
          <li><a href="http://charlespinnix.com">charlespinnix.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
