//
//    File:           _layout-left-panel.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Base
//

$vs-layout-left-panel-sidebar-width-sm: 80%;
$vs-layout-left-panel-sidebar-width-lg: 50%;

.vs-layout-left-panel {

  // ---------------------------------------------
  //    1. Base
  // ---------------------------------------------

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &-html,
  &-body {
    height: 100%;
  }

  &-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -$vs-layout-left-panel-sidebar-width-lg;
    width: 0;
    overflow-y: auto;
    opacity: 0;
    @include transition(opacity 200ms linear);

    &--open {
      left: 0;
      width: $vs-layout-left-panel-sidebar-width-lg;
      opacity: 1;
    }
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    @include transition(left 200ms cubic-bezier(0.4, 0.0, 0.2, 1));

    &--shifted {
      left: $vs-layout-left-panel-sidebar-width-lg;
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;

    &--active {
      height: 100%;
    }
  }

  // ---------------------------------------------
  //    1. Responsive
  // ---------------------------------------------

  @include vs-at-breakpoint($vs-screen-sm) {
    &-panel {
      &--open {
        left: 0;
        width: $vs-layout-left-panel-sidebar-width-sm;
      }
    }

    &-content {
      &--shifted {
        left: $vs-layout-left-panel-sidebar-width-sm;
      }
    }
  }

  @include vs-at-breakpoint($vs-screen-md) {

  }
}

// html,
// body {
//   height: 100%;
// }

// .layout {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//
//   &-button {
//     color: $color-pink;
//     height: 6rem;
//     line-height: 6rem;
//     @include vs-margin(bottom, 4);
//   }
//
//   .left {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: -$sidebar-width-lg;
//     width: $sidebar-width-lg;
//     overflow-y: auto;
//   }
//
//   .right {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     overflow-y: auto;
//   }
//
//   .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: none;
//   }
//
//   &.layout--active {
//     .left {
//       left: 0;
//     }
//
//     .right {
//       left: $sidebar-width-lg;
//     }
//
//     .overlay {
//       display: block;
//     }
//
//     @media (max-width: 768px) {
//       .left {
//         width: $sidebar-width-sm;
//       }
//
//       .right {
//         width: 100%;
//         overflow: hidden;
//         left: $sidebar-width-sm;
//       }
//     }
//   }
// }
