@include vs-at-breakpoint($vs-screen-xs) {
  $total-columns: total-columns($vs-screen-xs);
  @for $span from 1 through $total-columns {
    .vs-col-xs-#{$span} {
      @include vs-col($vs-screen-xs, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-xs-push-#{$push} {
      @include vs-col-push($vs-screen-xs, $push);
    }
  }
}

@include vs-at-breakpoint($vs-screen-sm) {
  $total-columns: total-columns($vs-screen-sm);
  @for $span from 1 through $total-columns {
    .vs-col-sm-#{$span} {
      @include vs-col($vs-screen-sm, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-sm-push-#{$push} {
      @include vs-col-push($vs-screen-sm, $push);
    }
  }
}

@include vs-at-breakpoint($vs-screen-md) {
  $total-columns: total-columns($vs-screen-md);
  @for $span from 1 through $total-columns {
    .vs-col-md-#{$span} {
      @include vs-col($vs-screen-md, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-md-push-#{$push} {
      @include vs-col-push($vs-screen-md, $push);
    }
  }
}

@include vs-at-breakpoint($vs-screen-lg) {
  $total-columns: total-columns($vs-screen-lg);
  @for $span from 1 through $total-columns {
    .vs-col-lg-#{$span} {
      @include vs-col($vs-screen-lg, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-lg-push-#{$push} {
      @include vs-col-push($vs-screen-lg, $push);
    }
  }
}

@include vs-at-breakpoint($vs-screen-xl) {
  $total-columns: total-columns($vs-screen-xl);
  @for $span from 1 through $total-columns {
    .vs-col-xl-#{$span} {
      @include vs-col($vs-screen-xl, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-xl-push-#{$push} {
      @include vs-col-push($vs-screen-xl, $push);
    }
  }
}
