//
//    File:           _margin.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Base
//    2. Extra Small
//    3. Small
//    4. Medium
//    5. Large
//    6. Extra Large
//

@for $i from 1 through 96 {

  // ---------------------------------------------
  //    1. Base
  // ---------------------------------------------

  .vs-margin-top-#{$i} {
    @include vs-margin(top, $i);
  }

  .vs-margin-right-#{$i} {
    @include vs-margin(right, $i);
  }

  .vs-margin-bottom-#{$i} {
    @include vs-margin(bottom, $i);
  }

  .vs-margin-left-#{$i} {
    @include vs-margin(left, $i);
  }

  // ---------------------------------------------
  //    2. Extra Small
  // ---------------------------------------------

  .vs-margin-xs-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      margin-top: $i + rem;
    }
  }

  .vs-margin-xs-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      margin-right: $i + rem;
    }
  }

  .vs-margin-xs-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      margin-bottom: $i + rem;
    }
  }

  .vs-margin-xs-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      margin-left: $i + rem;
    }
  }

  // ---------------------------------------------
  //    3. Small
  // ---------------------------------------------

  .vs-margin-sm-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      margin-top: $i + rem;
    }
  }

  .vs-margin-sm-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      margin-right: $i + rem;
    }
  }

  .vs-margin-sm-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      margin-bottom: $i + rem;
    }
  }

  .vs-margin-sm-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      margin-left: $i + rem;
    }
  }

  // ---------------------------------------------
  //    4. Medium
  // ---------------------------------------------

  .vs-margin-md-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      margin-top: $i + rem;
    }
  }

  .vs-margin-md-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      margin-right: $i + rem;
    }
  }

  .vs-margin-md-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      margin-bottom: $i + rem;
    }
  }

  .vs-margin-md-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      margin-left: $i + rem;
    }
  }

  // ---------------------------------------------
  //    5. Large
  // ---------------------------------------------

  .vs-margin-lg-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      margin-top: $i + rem;
    }
  }

  .vs-margin-lg-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      margin-right: $i + rem;
    }
  }

  .vs-margin-lg-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      margin-bottom: $i + rem;
    }
  }

  .vs-margin-lg-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      margin-left: $i + rem;
    }
  }

  // ---------------------------------------------
  //    6. Extra Large
  // ---------------------------------------------

  .vs-margin-xl-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      margin-top: $i + rem;
    }
  }

  .vs-margin-xl-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      margin-right: $i + rem;
    }
  }

  .vs-margin-xl-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      margin-bottom: $i + rem;
    }
  }

  .vs-margin-xl-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      margin-left: $i + rem;
    }
  }
}
