//
//    File:           _padding.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Base
//    2. Extra Small
//    3. Small
//    4. Medium
//    5. Large
//    6. Extra Large
//

@for $i from 1 through 96 {

  // ---------------------------------------------
  //    1. Base
  // ---------------------------------------------

  .vs-padding-top-#{$i} {
    padding-top: $i + rem;
  }

  .vs-padding-right-#{$i} {
    padding-right: $i + rem;
  }

  .vs-padding-bottom-#{$i} {
    padding-bottom: $i + rem;
  }

  .vs-padding-left-#{$i} {
    padding-left: $i + rem;
  }

  // ---------------------------------------------
  //    2. Extra Small
  // ---------------------------------------------

  .vs-padding-xs-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      padding-top: $i + rem;
    }
  }

  .vs-padding-xs-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      padding-right: $i + rem;
    }
  }

  .vs-padding-xs-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      padding-bottom: $i + rem;
    }
  }

  .vs-padding-xs-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      padding-left: $i + rem;
    }
  }

  // ---------------------------------------------
  //    3. Small
  // ---------------------------------------------

  .vs-padding-sm-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      padding-top: $i + rem;
    }
  }

  .vs-padding-sm-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      padding-right: $i + rem;
    }
  }

  .vs-padding-sm-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      padding-bottom: $i + rem;
    }
  }

  .vs-padding-sm-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      padding-left: $i + rem;
    }
  }

  // ---------------------------------------------
  //    4. Medium
  // ---------------------------------------------

  .vs-padding-md-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      padding-top: $i + rem;
    }
  }

  .vs-padding-md-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      padding-right: $i + rem;
    }
  }

  .vs-padding-md-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      padding-bottom: $i + rem;
    }
  }

  .vs-padding-md-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      padding-left: $i + rem;
    }
  }

  // ---------------------------------------------
  //    5. Large
  // ---------------------------------------------

  .vs-padding-lg-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      padding-top: $i + rem;
    }
  }

  .vs-padding-lg-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      padding-right: $i + rem;
    }
  }

  .vs-padding-lg-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      padding-bottom: $i + rem;
    }
  }

  .vs-padding-lg-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      padding-left: $i + rem;
    }
  }

  // ---------------------------------------------
  //    6. Extra Large
  // ---------------------------------------------

  .vs-padding-xl-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      padding-top: $i + rem;
    }
  }

  .vs-padding-xl-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      padding-right: $i + rem;
    }
  }

  .vs-padding-xl-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      padding-bottom: $i + rem;
    }
  }

  .vs-padding-xl-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      padding-left: $i + rem;
    }
  }
}
