@for $i from 1 through 96 {

  .vs-pull-top-#{$i} {
    @include vs-pull(top, $i);
  }

  .vs-pull-right-#{$i} {
    @include vs-pull(right, $i);
  }

  .vs-pull-bottom-#{$i} {
    @include vs-pull(bottom, $i);
  }

  .vs-pull-left-#{$i} {
    @include vs-pull(left, $i);
  }

  .vs-pull-xs-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      @include vs-pull(top, $i);
    }
  }

  .vs-pull-xs-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      @include vs-pull(right, $i);
    }
  }

  .vs-pull-xs-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      @include vs-pull(bottom, $i);
    }
  }

  .vs-pull-xs-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-xs) {
      @include vs-pull(left, $i);
    }
  }

  .vs-pull-sm-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      @include vs-pull(top, $i);
    }
  }

  .vs-pull-sm-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      @include vs-pull(right, $i);
    }
  }

  .vs-pull-sm-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      @include vs-pull(bottom, $i);
    }
  }

  .vs-pull-sm-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-sm) {
      @include vs-pull(left, $i);
    }
  }

  .vs-pull-md-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      @include vs-pull(top, $i);
    }
  }

  .vs-pull-md-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      @include vs-pull(right, $i);
    }
  }

  .vs-pull-md-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      @include vs-pull(bottom, $i);
    }
  }

  .vs-pull-md-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-md) {
      @include vs-pull(left, $i);
    }
  }

  .vs-pull-lg-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      @include vs-pull(top, $i);
    }
  }

  .vs-pull-lg-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      @include vs-pull(right, $i);
    }
  }

  .vs-pull-lg-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      @include vs-pull(bottom, $i);
    }
  }

  .vs-pull-lg-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-lg) {
      @include vs-pull(left, $i);
    }
  }

  .vs-pull-xl-top-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      @include vs-pull(top, $i);
    }
  }

  .vs-pull-xl-right-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      @include vs-pull(right, $i);
    }
  }

  .vs-pull-xl-bottom-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      @include vs-pull(bottom, $i);
    }
  }

  .vs-pull-xl-left-#{$i} {
    @include vs-at-breakpoint($vs-screen-xl) {
      @include vs-pull(left, $i);
    }
  }
}
