<div class="code verious">
  <div class="code-container">
    <div class="code-row">
      <div class="code-header">
        <h2>Code</h2>
      </div>
    </div>
    <div class="code-row">
      <div class="code-left">
        <h3 class="vs-h5">Class</h3>
      </div>
      <div class="code-right">
        <pre>
          <code>
&#x3C;div class=&#x22;verious&#x22;&#x3E;
  &#x3C;pre&#x3E;
    &#x3C;code&#x3E;
      ...
    &#x3C;/code&#x3E;
  &#x3C;/pre&#x3E;
&#x3C;/div&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="code-row">
      <div class="code-left">
        <h3 class="vs-h5">Prefix</h3>
      </div>
      <div class="code-right">
        <pre>
          <code>
&#x3C;pre class=&#x22;vs-pre&#x22;&#x3E;
  &#x3C;code class=&#x22;vs-code&#x22;&#x3E;
    ...
  &#x3C;/code&#x3E;
&#x3C;/pre&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="code-row">
      <div class="code-left">
        <h3 class="vs-h5">Mixin</h3>
      </div>
      <div class="code-right">
        <pre>
          <code>
.element-pre {
  @include vs-pre();
}

.element-code {
  @include vs-code(/* $size */);
}
          </code>
        </pre>
      </div>
    </div>

    <div class="code-row">
      <div class="code-content">
        <h3 class="vs-h5">Sample</h3>
        <pre>
          <code>
.code {

  // ---------------------------------------------
  //    1. Base
  // ---------------------------------------------

  &-container {
    @include vs-container();
  }

  &-row {
    @include vs-row();
  }

  // ---------------------------------------------
  //    2. Responsive
  // ---------------------------------------------

  @include vs-at-breakpoint($vs-screen-sm) {
    &-content {
      @include vs-col($vs-screen-sm, 6);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

  @include vs-at-breakpoint($vs-screen-md) {
    &-content {
      @include vs-col($vs-screen-md, 12);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

  @include vs-at-breakpoint($vs-screen-lg) {
    &-content {
      @include vs-col($vs-screen-lg, 16);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

  @include vs-at-breakpoint($vs-screen-xl) {
    &-content {
      @include vs-col($vs-screen-xl, 16);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }
}
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>
