//
//    File:           _typography.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Sassline
//    2. Html
//    3. Paragraph
//    4. Heading
//    5. List
//    6. Link
//    7. Code
//    8. Type
//

// ---------------------------------------------
//    1. Sassline
// ---------------------------------------------

@import "../_plumber/_plumber";
@import "../_modular-scale/_modular-scale";
@import "../_sassline/_reset";
@import "../_sassline/_mixins";

// ---------------------------------------------
//    2. Html
// ---------------------------------------------

@mixin vs-html() {
  @include rootsize();
}

// ---------------------------------------------
//    3. Paragraph
// ---------------------------------------------

@mixin vs-p($size) {
  font-family: unquote(map-get($type-helvetica, font-family));
  font-style: normal;
  font-weight: map-get($type-helvetica, regular);

  @include fontsize($size);
  @include baseline($size, $type-helvetica, 0, 1);

  a {
    display: inline;
    color: inherit;

    &:visited {
      color: inherit;
    }
  }
}

// ---------------------------------------------
//    4. Heading
// ---------------------------------------------

@mixin vs-h($type, $size) {
  font-family: unquote(map-get($type, font-family));
  font-style: normal;
  font-weight: map-get($type, bold);
  @include fontsize($size);
  @include baseline($size, $type, 0, 2);
}

// ---------------------------------------------
//    5. List
// ---------------------------------------------

@mixin vs-li($size) {
  font-family: unquote(map-get($type-helvetica, font-family));
  font-style: normal;
  font-weight: map-get($type-helvetica, regular);

  @include fontsize($size);
  @include baseline($size, $type-helvetica);

  a {
    display: inline;
    font-family: unquote(map-get($type-helvetica, font-family));
    font-style: normal;
    font-weight: map-get($type-helvetica, regular);
    text-decoration: none;
    @include fontsize(0);
    @include baseline(0, $type-helvetica);
    color: inherit;

    &:visited {
      color: inherit;
    }
  }

  > ul > li:first-child {
    padding-top: 0;
  }
}

@mixin vs-ul() {
  @include vs-margin(left, 2);
  @include vs-margin(bottom, 2);

  ul {
    @include vs-margin(left, 2);
    margin-bottom: 0;
  }
}

@mixin vs-ul--unstyled() {
  margin-left: 0;
  list-style: none;

  ul {
    @include vs-margin(left, 2);
  }
}



// ---------------------------------------------
//    6. Link
// ---------------------------------------------

@mixin vs-a($size) {
  display: inline-block;
  font-family: unquote(map-get($type-helvetica, font-family));
  font-style: normal;
  font-weight: map-get($type-helvetica, regular);

  @include fontsize($size);
  @include baseline($size, $type-helvetica);

  &:visited {
    color: inherit;
  }
}

// ---------------------------------------------
//    7. Code
// ---------------------------------------------

@mixin vs-pre() {
  background-color: $vs-grey-100;
  overflow: auto;
  white-space: inherit;
  margin: 0;
  @include vs-padding(right, 2);
  @include vs-padding(left, 2);
  @include vs-margin(bottom, 2);
}

@mixin vs-code($size) {
  white-space: pre;
  font-family: unquote(map-get($type-ubuntu-mono, font-family));
  font-style: normal;
  font-weight: map-get($type-ubuntu-mono, regular);
  @include fontsize($size);
  @include baseline($size, $type-ubuntu-mono);
}

// ---------------------------------------------
//    8. Type
// ---------------------------------------------

@mixin vs-type($type, $size) {
  font-family: unquote(map-get($type, font-family));
  @include fontsize($size);
  @include baseline($size, $type);
}
