$breakpoints-limit: length($breakpoints);
$sizes: map-values($rootsizes);
$points: map-values($breakpoints);
// $line-widths: map-values($measures);
// $max-widths: map-values($maxwidths);

@mixin rootsize {
  font-size: nth($sizes, 1) / 16 * 100%;
  @for $i from 2 through $breakpoints-limit {
    @media screen and (min-width: nth($points, $i) / 16 * 1em ) {
      font-size: nth($sizes, $i) / 16 * 100%;
    }
  }
}

@mixin fontsize($fontsize) {
  font-size: ms($fontsize);
}

@mixin baseline($font-size, $font, $leading-top: 0, $leading-bottom: 0) {
  $get-size: ms($font-size);
  $get-baseline: map-get($font, baseline);

  @include plumber(
    $grid-height: 1rem,
    $baseline: $get-baseline,
    $font-size: $get-size,
    $line-height: 2,
    $leading-top: $leading-top,
    $leading-bottom: $leading-bottom
  );
}

@mixin clearfix {
  &:before, &:after{
    display: table;
    content: "";
  }
  &:after{
    clear: both;
  }
}
