//
//    File:           _button.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Base
//

// ---------------------------------------------
//    1. Base
// ---------------------------------------------

@mixin vs-button() {
  font-family: unquote(map-get($bodytype, font-family));
  font-style: normal;
  font-weight: map-get($bodytype, regular);
  @include fontsize(zeta, all);
  line-height: 3rem;
  height: 3rem;
  @include vs-padding(left, 1);
  @include vs-padding(right, 1);
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
