//
//    File:           _circle.scss
//    Description:
//

@mixin vs-circle($multiplier) {
  position: relative;
  display: flex;
  overflow: hidden;
  width: $multiplier * 1rem;
  height: $multiplier * 1rem;
  @include vs-border-radius($multiplier / 2 * 1rem);
}
