//
//    File:           _image-right.scss
//    Description:
//
//
//    Table of Contents:
//
//    1. Base
//    2. Responsive
//

.vs-block-image-right {

  // ---------------------------------------------
  //    1. Base
  // ---------------------------------------------

  background-color: $vs-white;
  @include vs-padding(top, 6);
  @include vs-padding(bottom, 6);

  &-container {
    @include vs-container();
  }

  &-row {
    @include vs-row();
  }

  &-caption {
    @include vs-p(1);
  }

  // ---------------------------------------------
  //    2. Responsive
  // ---------------------------------------------

  @include vs-at-breakpoint($vs-screen-sm) {
    $viewport: $vs-screen-sm;

    &-content {
      @include vs-col($viewport, 5, 1);
    }
  }

  @include vs-at-breakpoint($vs-screen-md) {
    $viewport: $vs-screen-md;

    &-content {
      @include vs-col($viewport, 6, 6);
    }
  }

  @include vs-at-breakpoint($vs-screen-lg) {
    $viewport: $vs-screen-lg;

    &-content {
      @include vs-col($viewport, 12, 4);
    }
  }

  @include vs-at-breakpoint($vs-screen-xl) {
    $viewport: $vs-screen-xl;

    &-content {
      @include vs-col($viewport, 12, 4);
    }
  }
}
