---
layout: default.html
hero:
  title: Verious
  subtitle: Verious serious styles.
---

{{{ includes.hero }}}

<div class="code verious">
  <div class="code-container">
    <div class="code-row">
      <div class="code-header">
        <h2>Code</h2>
      </div>
    </div>
    <div class="code-row">
      <div class="code-left">
        <h3 class="vs-h5">Class</h3>
      </div>
      <div class="code-right">
        <pre>
          <code>
&#x3C;div class=&#x22;verious&#x22;&#x3E;
  &#x3C;pre&#x3E;
    &#x3C;code&#x3E;
      ...
    &#x3C;/code&#x3E;
  &#x3C;/pre&#x3E;
&#x3C;/div&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="code-row">
      <div class="code-left">
        <h3 class="vs-h5">Prefix</h3>
      </div>
      <div class="code-right">
        <pre>
          <code>
&#x3C;pre class=&#x22;vs-pre&#x22;&#x3E;
  &#x3C;code class=&#x22;vs-code&#x22;&#x3E;
    ...
  &#x3C;/code&#x3E;
&#x3C;/pre&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="code-row">
      <div class="code-left">
        <h3 class="vs-h5">Mixin</h3>
      </div>
      <div class="code-right">
        <pre>
          <code>
.element-pre {
  @include vs-pre();
}

.element-code {
  @include vs-code(/* $size */);
}
          </code>
        </pre>
      </div>
    </div>

    <div class="code-row">
      <div class="code-content">
        <h3 class="vs-h5">Sample</h3>
        <pre>
          <code>
.code {

  // ---------------------------------------------
  //    1. Base
  // ---------------------------------------------

  &-container {
    @include vs-container();
  }

  &-row {
    @include vs-row();
  }

  // ---------------------------------------------
  //    2. Responsive
  // ---------------------------------------------

  @include vs-at-breakpoint($vs-screen-sm) {
    &-content {
      @include vs-col($vs-screen-sm, 6);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

  @include vs-at-breakpoint($vs-screen-md) {
    &-content {
      @include vs-col($vs-screen-md, 12);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

  @include vs-at-breakpoint($vs-screen-lg) {
    &-content {
      @include vs-col($vs-screen-lg, 16);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }

  @include vs-at-breakpoint($vs-screen-xl) {
    &-content {
      @include vs-col($vs-screen-xl, 16);
      @include vs-padding(top, 10);
      @include vs-padding(bottom, 10);
    }
  }
}
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>

<div class="paragraph verious">
  <div class="paragraph-container">
    <div class="paragraph-row">
      <div class="paragraph-header">
        <h2>Paragraph</h2>
      </div>
    </div>
    <div class="paragraph-row">
      <div class="paragraph-left">
        <h3 class="vs-h5">Class</h3>
      </div>
      <div class="paragraph-right">
        <pre>
          <code>
&#x3C;div class=&#x22;verious&#x22;&#x3E;
  &#x3C;p&#x3E;&#x3C;/p&#x3E;
&#x3C;/div&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="paragraph-row">
      <div class="paragraph-left">
        <h3 class="vs-h5">Prefix</h3>
      </div>
      <div class="paragraph-right">
        <pre>
          <code>
&#x3C;p class=&#x22;vs-p&#x22;&#x3E;&#x3C;/p&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="paragraph-row">
      <div class="paragraph-left">
        <h3>Sample</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at turpis ante. Cras aliquet fringilla feugiat. Donec hendrerit, ex vitae pellentesque luctus, ante nunc luctus lacus, et mattis dolor mi sit amet tellus. Nulla sit amet sem diam. Nam volutpat nec libero nec fermentum. Sed eu venenatis dolor, vitae egestas arcu. Etiam viverra, elit ut pretium aliquam, turpis libero ultricies dui, eget sodales lorem purus quis dui. Morbi id elit neque. Morbi feugiat elit sem, eget scelerisque velit dapibus at. Morbi congue varius tincidunt. Morbi in mattis diam, vitae dignissim neque.</p>
      </div>
      <div class="paragraph-right">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at turpis ante. Cras aliquet fringilla feugiat. Donec hendrerit, ex vitae pellentesque luctus, ante nunc luctus lacus, et mattis dolor mi sit amet tellus. Nulla sit amet sem diam. Nam volutpat nec libero nec fermentum. Sed eu venenatis dolor, vitae egestas arcu. Etiam viverra, elit ut pretium aliquam, turpis libero ultricies dui, eget sodales lorem purus quis dui. Morbi id elit neque. Morbi feugiat elit sem, eget scelerisque velit dapibus at. Morbi congue varius tincidunt. Morbi in mattis diam, vitae dignissim neque.</p>
      </div>
    </div>
    <div class="vs-spacer-4"></div>
    <div class="paragraph-row">
      <div class="paragraph-center">
        <h3>A New Generation of Styles</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at turpis ante. <a href="http://charlespinnix.com">Cras aliquet fringilla feugiat</a>. Donec hendrerit, ex vitae pellentesque luctus, ante nunc luctus lacus, et mattis dolor mi sit amet tellus. Nulla sit amet sem diam. Nam volutpat nec libero nec fermentum. Sed eu venenatis dolor, vitae egestas arcu. Etiam viverra, elit ut pretium aliquam, turpis libero ultricies dui, eget sodales lorem purus quis dui. Morbi id elit neque. Morbi feugiat elit sem, eget scelerisque velit dapibus at. Morbi congue varius tincidunt. Morbi in mattis diam, vitae dignissim neque.</p>
        <p>Maecenas blandit ornare enim, eget mattis sem cursus at. Nunc malesuada velit id urna iaculis malesuada. Proin eu erat tempor, egestas erat quis, iaculis eros. Donec ultricies erat metus, in pulvinar sapien suscipit eget. Vivamus vestibulum tortor ac feugiat volutpat. Etiam consectetur, elit ut iaculis fermentum, tellus ipsum rutrum neque, vitae commodo tortor ligula vitae mauris. Quisque ornare sodales malesuada. Suspendisse consectetur volutpat ante at facilisis. Sed mollis felis vel odio sagittis, in condimentum augue tristique. Duis vel quam mollis, feugiat justo a, maximus justo.</p>
        <p>Aliquam laoreet malesuada metus molestie luctus. Ut purus risus, lobortis sit amet enim rutrum, porttitor suscipit leo. Fusce varius tristique justo, ac hendrerit arcu imperdiet nec. Nam non ligula ex. In dictum tristique nisl ac faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam molestie, turpis quis finibus tincidunt, neque arcu semper turpis, eget aliquam neque tellus eu massa. Proin faucibus nulla nec nisi gravida, sed dignissim metus laoreet. Duis scelerisque leo non odio vehicula fringilla. Proin sit amet odio quam. Maecenas leo lectus, rhoncus at bibendum quis, interdum ut orci. Vestibulum vehicula posuere arcu ac semper. Quisque eu turpis blandit, maximus enim imperdiet, tristique diam. Nullam accumsan tempor ultrices.</p>
      </div>
    </div>
  </div>
</div>

<div class="list verious">
  <div class="list-container">
    <div class="paragraph-row">
      <div class="paragraph-header">
        <h2>List</h2>
      </div>
    </div>
    <div class="list-row">
      <div class="list-left">
        <h3 class="vs-h5">Class</h3>
      </div>
      <div class="list-right">
        <pre>
          <code>
&#x3C;div class=&#x22;verious&#x22;&#x3E;
  &#x3C;ul&#x3E;
    &#x3C;li&#x3E;
      ...
    &#x3C;/li&#x3E;
  &#x3C;/ul&#x3E;
&#x3C;/div&#x3E;

          </code>
        </pre>
      </div>
    </div>

    <div class="list-row">
      <div class="list-left">
        <h3 class="vs-h5">Prefix</h3>
      </div>
      <div class="list-right">
        <pre>
          <code>
&#x3C;ul class=&#x22;vs-ul&#x22;&#x3E;
  &#x3C;li class=&#x22;vs-li&#x22;&#x3E;
    ...
  &#x3C;/li&#x3E;
&#x3C;/ul&#x3E;

&#x3C;ul class=&#x22;vs-ul--unstyled&#x22;&#x3E;
  &#x3C;li class=&#x22;vs-li&#x22;&#x3E;
    ...
  &#x3C;/li&#x3E;
&#x3C;/ul&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="list-row">
      <div class="list-left">
        <h3 class="vs-h5">Mixin</h3>
      </div>
      <div class="list-right">
        <pre>
          <code>
ul {
  @include vs-ul();

  &.unstyled {
    @include vs-ul--unstyled();
  }
}

li {
  @include vs-li(/* $size */);
}
          </code>
        </pre>
      </div>
    </div>

    <div class="list-row">
      <div class="list-content">
        <h3 class="vs-h5">Sample</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Cras at turpis ante. Cras aliquet fringilla feugiat.</li>
          <li>Donec hendrerit, ex vitae pellentesque luctus, ante nunc luctus lacus, et mattis dolor mi sit amet tellus.</li>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Cras at turpis ante. Cras aliquet fringilla feugiat.</li>
            <li>Donec hendrerit, ex vitae pellentesque luctus, ante nunc luctus lacus, et mattis dolor mi sit amet tellus.</li>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Cras at turpis ante. Cras aliquet fringilla feugiat.</li>
              <li>Donec hendrerit, ex vitae pellentesque luctus, ante nunc luctus lacus, et mattis dolor mi sit amet tellus.</li>
            </ul>
          </ul>
        </ul>
        <ul class="vs-ul--unstyled">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Cras at turpis ante. Cras aliquet fringilla feugiat.</li>
          <li>Donec hendrerit, ex vitae pellentesque luctus, ante nunc luctus lacus, et mattis dolor mi sit amet tellus.</li>
          <li>
            <ul class="vs-ul--unstyled">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Cras at turpis ante. Cras aliquet fringilla feugiat.</li>
              <li>Donec hendrerit, ex vitae pellentesque luctus, ante nunc luctus lacus, et mattis dolor mi sit amet tellus.</li>
              <li>
                <ul class="vs-ul--unstyled">
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  <li>Cras at turpis ante. Cras aliquet fringilla feugiat.</li>
                  <li>Donec hendrerit, ex vitae pellentesque luctus, ante nunc luctus lacus, et mattis dolor mi sit amet tellus.</li>
                </ul>
              </li>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="link verious">
  <div class="link-container">
    <div class="link-row">
      <div class="link-header">
        <h2>Link</h2>
      </div>
    </div>
    <div class="link-row">
      <div class="link-left">
        <h3 class="vs-h5">Class</h3>
      </div>
      <div class="link-right">
        <pre>
          <code>
&#x3C;div class=&#x22;verious&#x22;&#x3E;
  &#x3C;p&#x3E;&#x3C;a&#x3E;...&#x3C;/a&#x3E;&#x3C;/p&#x3E;
  &#x3C;a&#x3E;...&#x3C;/a&#x3E;
&#x3C;/div&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="link-row">
      <div class="link-left">
        <h3 class="vs-h5">Prefix</h3>
      </div>
      <div class="link-right">
        <pre>
          <code>
&#x3C;p class=&#x22;vs-p&#x22;&#x3E;&#x3C;a&#x3E;...&#x3C;/a&#x3E;&#x3C;/p&#x3E;
&#x3C;a class=&#x22;vs-a&#x22;&#x3E;...&#x3C;/a&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="link-row">
      <div class="link-left">
        <h3 class="vs-h5">Mixin</h3>
      </div>
      <div class="link-right">
        <pre>
          <code>
.element {
  @include vs-a(/* $size */);
}
          </code>
        </pre>
      </div>
    </div>

    <div class="list-row">
      <div class="list-content">
        <h3 class="vs-h5">Sample</h3>
        <a href="http://charlespinnix.com">charlespinnix.com</a>
        <p><a href="http://charlespinnix.com">charlespinnix.com</a></p>
        <ul>
          <li><a href="http://charlespinnix.com">charlespinnix.com</a></li>
          <li><a href="http://charlespinnix.com">charlespinnix.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="heading verious">
  <div class="heading-container">
    <div class="heading-row">
      <div class="heading-header">
        <h2>Heading</h2>
      </div>
    </div>
    <div class="heading-row">
      <div class="heading-left">
        <h3 class="vs-h5">Class</h3>
      </div>
      <div class="heading-right">
        <pre>
          <code>
&#x3C;div class=&#x22;verious&#x22;&#x3E;
  &#x3C;h1&#x3E;...&#x3C;/h1&#x3E;
  &#x3C;h2&#x3E;...&#x3C;/h2&#x3E;
  &#x3C;h3&#x3E;...&#x3C;/h3&#x3E;
  &#x3C;h4&#x3E;...&#x3C;/h4&#x3E;
  &#x3C;h5&#x3E;...&#x3C;/h5&#x3E;
  &#x3C;h6&#x3E;...&#x3C;/h6&#x3E;
&#x3C;/div&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="heading-row">
      <div class="heading-left">
        <h3 class="vs-h5">Prefix</h3>
      </div>
      <div class="heading-right">
        <pre>
          <code>
&#x3C;h1 class=&#x22;vs-h1&#x22;&#x3E;...&#x3C;/h1&#x3E;
&#x3C;h2 class=&#x22;vs-h2&#x22;&#x3E;...&#x3C;/h2&#x3E;
&#x3C;h3 class=&#x22;vs-h3&#x22;&#x3E;...&#x3C;/h3&#x3E;
&#x3C;h4 class=&#x22;vs-h4&#x22;&#x3E;...&#x3C;/h4&#x3E;
&#x3C;h5 class=&#x22;vs-h5&#x22;&#x3E;...&#x3C;/h5&#x3E;
&#x3C;h6 class=&#x22;vs-h6&#x22;&#x3E;...&#x3C;/h6&#x3E;
          </code>
        </pre>
      </div>
    </div>

    <div class="heading-row">
      <div class="heading-left">
        <h3 class="vs-h5">Mixin</h3>
      </div>
      <div class="heading-right">
        <pre>
          <code>
.element {
  @include vs-h(/* $size */);
}
          </code>
        </pre>
      </div>
    </div>

    <div class="list-row">
      <div class="list-content">
        <h3 class="vs-h5">Sample</h3>
        <h1>The quick brown fox jumps over the lazy dog</h1>
        <h2>The quick brown fox jumps over the lazy dog</h2>
        <h3>The quick brown fox jumps over the lazy dog</h3>
        <h4>The quick brown fox jumps over the lazy dog</h4>
        <h5>The quick brown fox jumps over the lazy dog</h5>
        <h6>The quick brown fox jumps over the lazy dog</h6>
      </div>
    </div>
  </div>
</div>

<!-- <div class="vs-baseline"></div> -->
